CodingTest_Book_1/CppProject/.vs/CppProject/FileContentIndex/0697b7b7-802f-4f77-9799-21b96539c828.vsidx
CodingTest_Book_1/CppProject/.vs/CppProject/v17/Browse.VC.db
CodingTest_Book_1/CppProject/.vs/CppProject/v17/Browse.VC.db-shm
CodingTest_Book_1/CppProject/.vs/CppProject/v17/Browse.VC.db-wal
CodingTest_Book_1/CppProject/.vs/CppProject/v17/Browse.VC.opendb
CodingTest_Book_1/CppProject/.vs/CppProject/v17/ipch/AutoPCH/b05a90abc6ea66da/CPP28.ipch
